%header.page-header.group
  %h1
    %span Information
    Immigration and asylum chamber: decisions on appeals to the Upper Tribunal

.pagination-row
  .page-entries
    = page_entries_info @decisions
  = will_paginate @decisions

.main.cf
  .col-narrow
    = form_tag decisions_path, :method => :get, :class => 'search_form' do
      %fieldset
        %h2
          %label{:for => "search_query"} Enter your search terms
        = text_field :search, :query, :value => params[:search][:query]
        .buttons.cf
          %button.button.primary.right{:type => "submit"} Search
      %fieldset#advanced_search
        %legend
          %h2 Refine your search
        %h3
          %label Case status
        .status-filter
          %label.checkbox.inline
            = radio_button :search, :reported, "all", checked: true
            All
          %label.checkbox.inline
            = radio_button :search, :reported, "true"
            Reported
          %label.checkbox.inline
            = radio_button :search, :reported, "false"
            Unreported
        %p.help
          %a{:href => "#"} Find out what Un/Reported means
        #search_reported_only
          %h3
            %label{:for => :search_country} Country
          = select :search, :country, options_for_select(Decision.country_list, params[:search][:country]), {}, {:placeholder => "Show represented country only"}
          %label.checkbox
            = check_box :search, :country_guideline, :value => params[:search][:country_guideline]
            Used as country guidance
          %h3
            %label Name of judge
          = select :search, :judge, options_for_select(Decision.judges_list, params[:search][:judge]), {}, {:placeholder => "Show cases this judge heard only"}
          %h3
            %label Appellant name
          = text_field :search, :claimant, :value => params[:search][:claimant], :placeholder => "Show cases involving this person"
        .buttons.cf
          = button_tag "Clear", :class => "button left", :type => "reset"
  .col-wide
    .decisions
      %table.decisions-table
        %tr.headings
          %th Reference number
          %th Status
          %th Promulgation date
          %th Country
        - @decisions.each do |decision, group = cycle('even', 'odd')|
          %tr.first{:class => group}
            %td{class: decision.reported ? 'reported' : 'unreported' }= link_to decision.link_label, decision_path(decision)
            %td
              - if reported_label(decision.reported?) == "Yes"
                Reported
              - else
                Unreported
            / %td hearingdate
            %td.date= time_element(decision.promulgated_on)
            %td= decision.country
          - if decision.case_title
            %tr{:class => group + (search_present() ? '' : ' last')}
              %td{:colspan => 4}
                Case title:
                %strong= decision.case_title
          - if search_present()
            %tr.last{:class => group}
              %td{:colspan => 4}
                %strong Search result:
                = hilighted_search_result(params[:search][:query], decision.text)

.pagination-row.bottom
  .page-entries
    = page_entries_info @decisions
  = will_paginate @decisions

