= form.simple_fields_for :category_decisions do |cform|
  .form-inputs.panel{class: "category-#{cform.object.category_id}"}
    = cform.input :category_id, collection: current_tribunal.categories, label: cform.object.new_record? ? "Add #{current_tribunal.label_for(:category).downcase}" : current_tribunal.label_for(:category)
    - if cform.object.category
      = cform.association :subcategory, collection: cform.object.category.subcategories, label: current_tribunal.label_for(:subcategory)

    = cform.input :_destroy, as: :boolean, label: 'Remove' unless cform.object.new_record?



