#global-breadcrumb.header-context
  %nav{:role => "navigation"}
    %ol.group
      %li
        %a{:href => "/"} Home
%div{:vocab => "http://schema.org", :typeof => "CreativeWork"}
  %header.page-header.group
    %h1= "Decision Number: #{display_file_number(@ftt_decision)}"
    %ul.decision-details
      %li
        %span.label Tribunal
        %span Upper Tribunal (Tax and Chancery Chamber)
      %li
        %span.label Judges:
        %span= @ftt_decision.judge_names
      %li
        %span.label Appellant name:
        %span= @ftt_decision.claimant
      %li
        %span.label Respondent name:
        %span= @ftt_decision.respondent
      %li
        %span.label Date of decision:
        %span= schema_time_element(@ftt_decision.decision_date)
      %li
        %span.label Date added:
        %span= schema_time_element(@ftt_decision.created_datetime)
      %li
        %span.label Date updated:
        %span= schema_time_element(@ftt_decision.last_updatedtime)
      %li
        %span.label Category:
        %span= display_categories(@ftt_decision)
      %li
        %span.label Notes
        %span= @ftt_decision.notes

  = render "shared/doc_downloads", {:decision => @ftt_decision}

  - if @ftt_decision.html.blank?
    %h2 An HTML version of this decision is not currently available.
  - else
    .decision
      %h2 The decision
      .decision-inner
        = @ftt_decision.html.html_safe
