%header
  %h1 Edit decision
= simple_form_for(@decision, url: admin_all_decision_path(tribunal_code: @tribunal.code, id: @decision.slug)) do |form|
  .row#case_title
    %label Case title
    %span
  - if @decision.doc_file.present? &&  @decision.doc_file.url.present?
    .row
      = link_to('doc file', @decision.doc_file.url, :class => 'doclink')
  .row
    = form.input :tribunal, input_html: { value: @tribunal.name, disabled: true}
  .row
    = form.input :doc_file, as: 'file'

  / .row
  /   = form.label 'Judges:'
  /   .wrapper
  /     = form.text_field :judge_names
  .row
    = form.input :claimant, as: 'string'
  .row
    = form.input :respondent, as: 'string'
  .row
    = form.input :decision_date, as: 'string', input_html: { maxlength: 10 }
  .row
    = form.input :created_at, as: 'string', input_html: { maxlength: 10 }
  .row
    = form.input :upload_date, as: 'string', input_html: { maxlength: 10 }
  .row
    = form.association :categories, input_html: { multiple: false}, collection: @tribunal.categories
  .row
    = form.association :subcategories, input_html: { multiple: false}, collection: @tribunal.subcategories
  .row
    = form.input :notes
  .row
    = form.submit :class => 'button primary'
    %a.button{:href => admin_all_decision_path(tribunal_code: @tribunal.code, id: @decision.slug)} Cancel
