%h2 Add decision
= simple_form_for @decision, url: :admin_all_decisions, html: {multipart: true} do |form|
  .form-inputs
    /= form.association :tribunal
    = form.input :tribunal, input_html: { value: @tribunal.name, disabled: true}
    / = form.association :jurisdiction
    = form.input :doc_file, as: 'file'

  = render tribunal_form_view_path, form: form, common_view_path: tribunal_common_view_path

  .form-actions
    = form.button :submit, 'Add decision'
    = link_to 'Clear', '#'

