%table.decisions-table
  %tr.headings
    %th Reference number
    %th{:width => "23%"}
      = @date_column_title
  - @decisions.each do |decision, group = cycle('even', 'odd')|
    %tr.first{:class => group}
      %td
        - if search_present()
          = link_to(hilighted_metadata_result(params[:search][:query], link_label(decision), true), "/#{tribunal.code}/#{decision.to_param}")
        - else
          = link_to(link_label(decision), "/#{tribunal.code}/#{decision.to_param}")
      %td.date= date_element(decision.send(@order_by))
    - if display_parties(decision)
      %tr{:class => group + (search_present() ? '' : ' last')}
        %td{:colspan => 2}
          Parties:
          - if search_present()
            %strong= hilighted_metadata_result(params[:search][:query], display_parties(decision), true)
          - else
            %strong= display_parties(decision)
    - if display_categories(decision)
      %tr{:class => group + (search_present() ? '' : ' last')}
        %td{:colspan => 2}
          = @categories_title
          - if search_present()
            %strong= hilighted_metadata_result(params[:search][:query], display_categories(decision), true)
          - else
            %strong= display_categories(decision)
    - if search_present()
      %tr.last{:class => group}
        %td{:colspan => 2}
          - if decision.judge_names && hilighted_metadata_result(params[:search][:query], decision.judge_names, false)
            %strong Search result:
            %br
            Judges:
            = hilighted_metadata_result(params[:search][:query], decision.judge_names, false)
          - elsif hilighted_search_result(params[:search][:query], decision.text)
            %strong Search result:
            %br
            = hilighted_search_result(params[:search][:query], decision.text)
