#global-breadcrumb.header-context
  %nav{:role => "navigation"}
    %ol.group
      %li
        %a{:href => "/"} Home
%div{:vocab => "http://schema.org", :typeof => "CreativeWork"}
  %header.page-header.group
    %h1= "Neutral Citation Number #{display_ncn(@decision)}"
    %ul.decision-details
      %li
        %span.label File No.:
        %span= @decision.file_number
      %li
        %span.label Reported number:
        %span= @decision.reported_number
      %li
        %span.label Judges:
        %span= judge_names(@decision)
      %li
        %span.label Appellant name:
        %span= @decision.claimant
      %li
        %span.label Respondent name:
        %span= @decision.respondent
      %li
        %span.label Date of decision:
        %span= schema_time_element(@decision.decision_date)
      %li
        %span.label Date added:
        %span= schema_time_element(@decision.created_at)
      %li
        %span.label Date updated:
        %span= schema_time_element(@decision.updated_at)
      %li
        %span.label Category:
        %span= display_categories(@decision)
      %li
        %span.label Notes:
        %span{:class => "notes"}= @decision.notes

  = render "shared/doc_downloads", {:decision => @decision}

  - if @decision.html.blank?
    %h2 An HTML version of this decision is not currently available.
  - else
    .decision
      %h2 The decision
      .decision-inner
        = @decision.html.html_safe
