= render common_view_path + 'decision', form: form
= render common_view_path + 'people', form: form
= render common_view_path + 'date', form: form
= render common_view_path + 'category', form: form
= render common_view_path + 'notes', form: form