%header.page-header.group
  %h1
    %span Information
    Employment appeal judgments
  %p
    Search for judgments on appeals to the Employment Appeal Tribunal

.pagination-row
  .page-entries
    = page_entries_info @eat_decisions
  = will_paginate @eat_decisions

.main.cf
  .col-narrow
    = form_tag eat_decisions_path, :method => :get, :class => 'search_form' do
      %fieldset
        %h2
          %label{:for => "search_query"} Enter your search terms
        = text_field :search, :query, :value => params[:search][:query]
        .buttons.cf
          %button.button.primary.right{:type => "submit"} Search
      %fieldset#advanced_search
        %legend
          %h2 Refine your search
        %h3
          %label Judge
        = select :search, :judge, options_for_select([[]] + Judge.list, params[:search][:judge])
        %h3
          %label Party
        = select :search, :party, options_for_select([[]], params[:search][:party])
        -# TODO: Make categories and subcategories lists dependent on each other
        %h3
          %label Topic
        = select :search, :category, options_for_select([[]] + EatCategory.list, params[:search][:category])
        %h3
          %label Sub-topic
        = select :search, :subcategory, options_for_select([[]] + EatSubcategory.list, params[:search][:subcategory])
        .buttons.cf
          = button_tag "Clear", :class => "button left", :type => "reset"
  .col-wide
    .decisions
      .sort-filter
        Sort by <select><option>Date of hearing</option><option>Date of update</option></select>
      %table.decisions-table
        %tr.headings
          %th Reference number
          %th Date of hearing
        - @eat_decisions.each do |decision, group = cycle('even', 'odd')|
          %tr.first{:class => group}
            %td
              = link_to link_label(decision), eat_decision_path(decision)
              %p
                Parties:
              %p
                Topic:
            %td.date= time_element(decision.hearing_date)
          - if search_present()
            %tr.last{:class => group}
              %td{:colspan => 4}
                %strong Search result:
                = hilighted_search_result(params[:search][:query], decision.text)

.pagination-row.bottom
  .page-entries
    = page_entries_info @eat_decisions
  = will_paginate @eat_decisions
