%header.page-header.group
  %h1
    %span Information
    Employment Appeals: judgments on appeals to the Employment Appeal Tribunal

.pagination-row
  .page-entries
    = page_entries_info @eat_decisions
  = will_paginate @eat_decisions

.main.cf
  .sort-filter
    Sort by
    %select
      %option{:value => "date_added"} Date added
      %option{:value => "date_of_decision"} Date of decision
  .col-narrow
    = form_tag eat_decisions_path, :method => :get, :class => 'search_form' do
      %fieldset
        %h2
          %label{:for => "search_query"} Enter your search terms
        = text_field :search, :query, :value => params[:search][:query]
        .buttons.cf
          %button.button.primary.right{:type => "submit"} Search
      %fieldset#advanced_search
        %legend
          %h2 Refine your search
        %h3
          %label Name of judge
        = select :search, :judge, options_for_select([[]] + Judge.list, params[:search][:judge]), {}, {:placeholder => "Cases that this judge heard"}
        %h3
          %label Name of party
        = text_field :search, :party, :value => params[:search][:party], :placeholder => "Cases connected to this party"
        -# TODO: Make categories and subcategories lists dependent on each other
        %h3
          %label Topic
        = select :search, :category, options_for_select([[]] + EatCategory.list, params[:search][:category]), {}, {:placeholder => "What the case is about"}
        %h3
          %label Sub-topic
        = select :search, :subcategory, options_for_select([[]] + EatSubcategory.list, params[:search][:subcategory]), {}, {:placeholder => "More detail about the case"}
        .buttons.cf
          %button.button.secondary.left{:type => "reset"} Clear
          %button.button.primary.right{:type => "submit"} Refine search
  .col-wide
    .decisions
      %table.decisions-table
        %tr.headings
          %th Reference number
          %th{:width => "23%"} Date of hearing
        - @eat_decisions.each do |decision, group = cycle('even', 'odd')|
          %tr.first{:class => group}
            %td
              = link_to link_label(decision), eat_decision_path(decision)
            %td.date= time_element(decision.hearing_date)
          - if display_parties(decision)
            %tr{:class => group + (search_present() ? '' : ' last')}
              %td{:colspan => 2}
                Parties:
                %strong= display_parties(decision)
          - if display_categories(decision)
            %tr{:class => group + (search_present() ? '' : ' last')}
              %td{:colspan => 2}
                Topics:
                %strong= display_categories(decision)
          - if search_present()
            %tr.last{:class => group}
              %td{:colspan => 4}
                %strong Search result:
                = hilighted_search_result(params[:search][:query], decision.text)

.pagination-row.bottom
  .page-entries
    = page_entries_info @eat_decisions
  = will_paginate @eat_decisions
