= content_for :title, 'Listing Users'

= link_to 'Invite New User', new_user_invitation_path

%table.table
  %tr
    %th Name
    %th Email
    %th Super admin
    %th Tribunals
    %th 
    %th 

  - @users.each do |user|
    %tr
      %td= user.name
      %td= user.email
      %td= user.admin ? 'Yes' : 'No'
      %td= user.tribunals.map(&:code).join(',')
      %td= link_to 'Edit', edit_admin_user_path(user)
      %td= link_to 'Delete', admin_user_path(user), method: :delete, data: { confirm: 'Are you sure?' }