!!!
%html(ng-app="Tribunals")
  %head
    = render "shared/head", title: Rails.configuration.app_title
    = javascript_include_tag 'angular'
    = include_gon
    = csrf_meta_tags

  %body{ class: body_class }

    = render 'shared/header'

    #wrapper.group{class: signed_in? ? 'admin' : 'beta'}
      - if signed_in?
        = render 'shared/admin_nav'
      - else
        = render 'shared/phase_indicator'

      %section#content.group{role: 'main'}
        %header.page-header.group
          %h1= yield :title 

        .browse-container.full-width.group
          = moj_flash
          = yield

    = render 'shared/footer'

    = render 'shared/script'
